[Unit]
Description=PyTalk
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/python /home/pi/PyTalk/pytalk.py

[Install]
WantedBy=multi-user.target
